@import url('https://fonts.googleapis.com/css?family=Arvo|Open+Sans:400,600|Roboto:100,500,700,900');

body{
	font-family: 'Open Sans', sans-serif;
	color:  #9e9e9e;
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	text-align: left;
}

/* Layout */
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1160px;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}

/* ba-header */
.ba-header{
	margin-bottom: 120px;
}
.ba-header-bar{
	display: flex;
	justify-content: space-between;
	padding-top: 30px;
}
.ba-logo{
	margin-left: 45px;
	display: block;
}
.ba-menu ul{
	display: flex;
	margin-right: 118px;
	font-family: Roboto;
	color:  #9fa3a7;
	font-size: 12px;
	font-weight: 700;
	text-align: right;
	letter-spacing: 0.18em;
	margin-top: 0;
	margin-right: 60px;
}
.ba-menu li{
	list-style: none;
	text-transform: uppercase;
}
.ba-menu li + li{
	margin-left: 55px;
}
.ba-menu a{
	text-decoration: none;
	color: gray;
}
.ba-menu a:hover{
	text-decoration-line: underline;
	color: green;
}
.ba-container-mini{
	max-width: 355px;
	margin-left: 45px;
}
.ba-row{
	margin-bottom: -15px;
}
h2{
	font-family: 'Arvo', serif;
	color:  #292929;
	font-size: 36px;
	font-weight: 400;
	line-height: 48px;
	text-align: left;
	letter-spacing: 0.1em;
	margin-bottom: 20px;
}
h2 span{
	letter-spacing: 0.001em;

}
button{
	font-family: 'Roboto', sans-serif;
	color:  #292929;
	font-size: 12px;
	font-weight: 700;
	line-height: 57.2px;
	text-align: center;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 0.17em;
}
button:hover{
	background: green;
	color: white;
}
.ba-buy{
	background: #FCC803;

	border-radius: 5em;
	width: 171px;
	height: 51px;
}
.ba-about{
	border-style: 2px solid #f6f6f6;
	width: 171px;
	height: 51px;
	border-radius: 5em;
}
.ba-container-mini p{
	margin-bottom: 35px;
	letter-spacing: 0.02em;
}
.ba-container-mini button + button{
	margin-left: 9px;
}
.ba-section1__img{
	width: 670px;
	margin-left: -100px;
	margin-top: 30px;
}
.ba-slider{
	text-align: center;
	margin-right: 70px;
	margin-bottom: 150px;
	cursor: pointer;
}

/* section-2 */
.ba-work{
	margin-left: 250px;
	margin-bottom: 240px;
}
.ba-about-work{
	display: flex;
}
.ba-avto{
	max-width:  400px;
}
.ba-hardwork{
	max-width: 400px;
}
.ba-hardwork__img1{
	margin-left: 50px;
}
.ba-hardwork__img1--info{
	margin-left: 40px;
}
.ba-hardwork__img2{
	margin-left: 50px;
}
.ba-hardwork__img2--info{
	margin-left: 40px;
}
.ba-work h2{
	font-family: 'Arvo', serif;
	color:  #212121;
	font-size: 38px;
	font-weight: 400;
	line-height: 46px;
	text-align: left;
	letter-spacing: 0.1em;
}
.ba-work p{
	letter-spacing: 0.009em;
	line-height: 1.89em;
}
.ba-work h3{
	font-family: 'Arvo', serif;
	color:  #212121;
	font-size: 24px;
	font-weight: 400;
	text-align: left;
	letter-spacing: 0.1em;
	margin-top: 35px;
	margin-bottom: 15px;
}
.ba-hardwork__img1::before{
	content: "";
	background: url('../img/2/2.1.png') 50% no-repeat;
	width: 200px;
	height: 100px;
	display: inline-block;
	margin-bottom: 97px;
	padding-right: 70px;
}
hr{
	width: 100%;
	align-content: center;
	margin-left: 80px; 
	margin-bottom: 30px;
}
.ba-hardwork__img2::before{
	content: "";
	background: url('../img/2/2.2.png') 50% no-repeat;
	width: 200px;
	height: 100px;
	display: inline-block;
}
.ba-hardwork__img1,
.ba-hardwork__img2{
	display: flex;
}

/* ba-section3 */
.ba-section3{
	margin-bottom: 250px;
}
.ba-container-mini2{
	width: 470px;
	height: 450px;
}
.ba-container-mini2 li{
	list-style-type: none;
	line-height: 28px;
}
.ba-section3{
	background: url('../img/section3-bg.jpg') 100% no-repeat;
}
.ba-character h2{
	margin-left: 43px;
	letter-spacing: 0.12em;
	margin-bottom: 25px;
}
.ba-character{
	margin-left: 83px;
	letter-spacing: 0.011em;
}

/* ba-section4 */
blockquote{
	font-family: 'Arvo', serif;
	color:  #2c2c2c;
	font-size: 40px;
	font-weight: 400;
	line-height: 46px;
	text-align: left;
	letter-spacing: 0.048em;
	margin-bottom: 80px;
}
blockquote::before{
	content: "\201c";
	width: 800px;
	height: 50px;
	display: inline-block;
	text-align: center;
}
.ba-container-mini3{
	width: 880px;
	margin-left: 88px;
}
blockquote p{
	margin: 0;
}
.ba-blockquote-img{
	margin: auto 30px;
}
.ba-blockquote-img img + img{
	margin-left: 160px;
}
.ba-blockquote-img::after{
	content: "";
	border-bottom: 2px solid black;
	height: 10px;
	width: 100%;
	display: inline-block;
}
.ba-name{
	text-align: center;
}
.ba-name p{
	font-family: 'Arvo', serif;
	color:  #2c2c2c;
	font-size: 21.97px;
	font-weight: 400;
	text-align: left;
	transform: scaleY(1.0014);
	margin-bottom: 117px;
}
.ba-name p span{
	font-family: 'Roboto', sans-serif;
	color:  #9fa3a7;
	font-size: 11.98px;
	font-weight: 700;
	line-height: 26px;
	text-align: left;
	transform: scaleY(1.0014);
	text-transform: uppercase;
}

/* ba-section5 */
label{
	font-family: 'Roboto', sans-serif;
	color:  #9fa3a7;
	font-size: 11.62px;
	font-weight: 700;
	line-height: 26px;
	text-align: right;
	transform: scaleY(1.0067);
	text-transform: uppercase;
	width: 100%;
}
input{
	border-top: none;
	border-left: none;
	border-right: none;
	width: 100%;
}
.ba-row h4{
	font-family: 'Arvo', serif;
	color:  #292929;
	font-size: 32.18px;
	line-height: 41.116px;
	text-align: left;
	margin-left: 5px;
	margin-bottom: 40px;
}
.ba-formtext{
	display: flex;
	width: 100%;
	margin-bottom: 100px;
}
.ba-form-col1{
	text-align: end;
}
.ba-form-name{
	width: 30%;
	text-align: end;
	margin-right: 20px;
}
.ba-form-textfield{
	width: 70%;
}
.ba-price{
	font-family: 'Roboto', sans-serif;
	color:  #2c2c2c;
	font-size: 79.99px;
	font-weight: 900;
	text-align: left;
	margin-left: 5px;
}

.ba-form{
	margin-top: 105px;
	margin-left: -60px;
}
label{
	display: inline-block;
}
.ba-form-name label{
	margin-bottom: 39px;
}
.ba-form-textfield input{
	margin-bottom: 42px;
}
.ba-form-button{
	background-color:  #ffc80a;
	width: 195px;
	height: 47px;
	font-family: 'Roboto', sans-serif;
	color:  #ffffff;
	font-size: 12px;
	font-weight: 500;
	line-height: 26px;
	text-align: center;
	border-radius: 50px;
}
.ba-underform{
	display: flex;
	margin-left: 95px;
}
.ba-underform p{
	margin-right: 55px;
}
.ba-underform p span{
	color: red;
	font-weight: bold;
}
.ba-formtext{
	margin-bottom: 25px;
}
.ba-section5{
	margin-bottom: 150px;
}

/* footer */
.ba-footer-menu{
	display: flex;
}
.ba-footer-menu li{
	list-style: none;
	text-transform: uppercase;
}
.ba-footer-menu a{
	text-decoration: none;
	color: gray;
}
.ba-footer-menu a:hover{
	color: green;
	text-decoration: underline;
}
.ba-footer-menu ul{
	display: flex;
}
.ba-footer-menu a + a{
	margin-left: 46px;
}
.ba-logofooter{
	margin-left: -30px;
	margin-right: 35px;
}
.ba-copy{
	text-align: center;
}
